--CREATE DATABASE [SQLADMIN] ON PRIMARY ( NAME = N'SQLADMIN', FILENAME = N'L:\Data\SQLADMIN.mdf' , SIZE = 102400KB , MAXSIZE = 1024000KB , FILEGROWTH = 102400KB ) LOG ON ( NAME = N'SQLADMIN_log', FILENAME = N'M:\Data\SQLADMIN_log.ldf' , SIZE = 102400KB , MAXSIZE = 1024000KB , FILEGROWTH = 102400KB ); ALTER DATABASE [SQLADMIN] SET RECOVERY SIMPLE;



SELECT * FROM Perf_MonitoredServers

--INSERT Perf_MonitoredServers (ServerName, IsActive) VALUES ('V01DBSWIN505', 0);


SELECT ServerName, COUNT(ServerName) Errors
FROM Perf_ErrorLog el
INNER JOIN Perf_MonitoredServers ms ON ms.InstanceID = el.InstanceID
GROUP BY ServerName
ORDER BY Errors DESC


TRUNCATE TABLE Perf_ErrorLog